/*nothing to see here*/



body{
    background-color:#4f4f4f;
 }
 
 #c{
 
 position: relative;
 background-color: #6e6e6e;
 border: 4px solid #6e6e6e;
 border-radius: 5px;
 left: 10px;
 top: 8px;
 float:left;
 }
 

 
 #sliderDiv{
 
 line-height : 8px;

 position: relative;
 background-color: #6e6e6e;
 border: 4px solid #6e6e6e;
 border-radius: 5px;
 
 top: 8px;
 width: 220px;
 height: 700px;
 
 float:left;
 left: 25px;
 }
 
 #rightDiv{
    
 
 position: relative;
 background-color: #6e6e6e;
 border: 4px solid #6e6e6e;
 border-radius: 5px;
 
 top: 8px;
 width: 220px;
 height: 700px;
 float:left;
 left: 40px;
 }
 
 #xSlider {
     -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 
  
 }

 #ySlider{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
  
  
 }
 
 #zSlider{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
  
  
 }
 

 
 #scaleX{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 #scaleY{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
  #scaleZ{
    -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 #XangleInDegsSlider{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 #YangleInDegsSlider{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 #ZangleInDegsSlider{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 #XSpinSlider{
  -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
  #YSpinSlider{
  -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
  #ZSpinSlider{
  -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 #depthSlider{
   -webkit-appearance: none;
  position: relative;
  width: 206px;
  height: 15px;
  background: #6e6e6e;
 
  border: 5px solid #4f4f4f;
  border-radius: 2px;
 }
 
 
 #xSlider::-webkit-slider-thumb {
      -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#xSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #ySlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#ySlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #zSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#zSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #scaleX::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#scaleX::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #scaleY::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#scaleY::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #scaleZ::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#scaleZ::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #XangleInDegsSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#XangleInDegsSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #YangleInDegsSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#YangleInDegsSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #ZangleInDegsSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#ZangleInDegsSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #XSpinSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#XSpinSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #YSpinSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#YSpinSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #ZSpinSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#ZSpinSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

 #depthSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    cursor: pointer;
    background: #6e6e6e;
    width: 15px;
    height: 30px;
    border: 4px solid #4f4f4f;
  border-radius: 1px;
}
#depthSlider::-webkit-slider-thumb:hover{
  background-color: #424242
}

#namesAboveSliders{
  position: relative;
  font-family: 'sans-serif';
  font-size:15px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  
  left: 5px;
}

#title{
  position: relative;
  text-align: center;
  font-family: 'sans-serif';
  font-size:20px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  top: -10px;
  
  
}

#words{
  position: relative;
  font-family: 'sans-serif';
  font-size:15px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  left: 10px;
  width: 200px;
  top: -25px;
  
}

#row1{
  position: relative;
  text-align: center;
  font-family: 'sans-serif';
  font-size:15px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  left: 10px;
  width: 200px;
  top: -25px;
  
}

#row2{
  position: relative;
  text-align: center;
  font-family: 'sans-serif';
  font-size:15px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  left: 10px;
  width: 200px;
  top: -25px;
  
}

#row3{
  position: relative;
  text-align: center;
  font-family: 'sans-serif';
  font-size:15px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  left: 10px;
  width: 200px;
  top: -25px;
  
}

#row4{
  position: relative;
  text-align: center;
  font-family: 'sans-serif';
  font-size:15px;
  color:#ffffff;
  font-weight: bold;
  font-style: italic;
  left: 10px;
  width: 200px;
  top: -25px;
  
}